.green {
    grid-area: tl;
}
.blue {
    grid-area: tr;
}
.red {
    grid-area: cl;
}
.yellow {
    grid-area: cr;
}
.grey {
    grid-area: bl;
}

.container {
    display: grid;
    grid-template-areas: 
    "tl tr"
    "cl cr"
    "bl .";
}